@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Prata&display=swap');

.main-section {
    /*margin: 30px 20px;*/
    padding: 0 32px 32px;
    text-align: center;
}

.main-section h3 {
    display: inline-block;
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 8px;
}

.t1 {
    display: flex;
    padding: 8px;
    border-bottom: 4px solid rgb(227, 0, 43);
    margin-top: 32px;
    margin-bottom: 16px;
}

.g2 {
    display: flex;
    padding: 8px;
    border-bottom: 4px solid rgb(143,143,145);
    margin-top: 32px;
    margin-bottom: 16px;
}

.jdg {
    display: flex;
    padding: 8px;
    border-bottom: 4px solid rgb(200, 16, 46);
    margin-top: 32px;
    margin-bottom: 16px;
}

.loud {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    border-bottom: 4px solid rgba(69, 248, 73);
    margin-top: 32px;
    margin-bottom: 16px;
}