.form-fields-div {
    padding: 20px 60px 10px 60px;
    font-size: 18px;
    text-align: left;
}

/*.title-h1 {*/
/*    color: azure;*/
/*    margin: 10px 60px 20px;*/
/*    padding: 22px 0;*/
/*    font-size: 28px;*/
/*    text-align: center;*/
/*    font-weight: 400;*/
/*}*/

label {
    color: azure;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

/*.select-div {*/
/*    margin: 20px 60px 10px 60px;*/
/*    font-size: 30px;*/
/*    text-align: left;*/
/*}*/

.form-fields-div input, select {
    color: azure;
    width: 100%;
    border: none;
    padding: 20px 20px;
    font-size: 16px;
    text-align: left;
    object-fit: contain;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    background-color: rgba(62, 62, 77, 0.47);
    -webkit-box-shadow: 7px 7px 10px -7px rgba(173,173,173,0.1);
    -moz-box-shadow: 7px 7px 10px -7px rgba(173,173,173,0.1);
    box-shadow: 7px 7px 10px -7px rgba(173,173,173,0.1);
}

