@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Prata&display=swap');

.card-create-button {
    color: #FFF;
    width: 89px;
    height: 54px;
    margin: 22px 60px 22px;
    cursor: pointer;
    border: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    background-color: rgb(112, 46, 178);
}

.card-create-button:hover {
    transition: all 0.5s;
    background-color: rgb(160, 86, 255);
}

