@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Prata&display=swap');

.container {
    width: 180px;
    margin: 4px 4px 20px 4px;
}

.container .header {
    background-color: #F0F0F0;
    border-radius: 10px 10px 0 0;
}

.header.t1 {
    background-color: rgb(224, 60, 94);
}

.header.g2 {
    background-color: rgb(203, 203, 203);
}

.header.jdg {
    background-color: rgb(150, 50, 58);
}

.header.loud {
    background-color: rgba(164, 255, 168, 0.9);
}

.container img {
    width: 92px;
    border-radius: 100%;
    position: relative;
    bottom: -50px;
}

.container .footer {
    background: #FFFFFF;
    padding-top: 65px;
    padding-bottom: 20px;
}

.container .footer h4 {
    color: #7832ff;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.container .footer h5 {
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    padding: 0 16px;
}
