
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;600;700&family=Prata&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Prata', serif;
}

body {
    background-color: #202028;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    filter: none;
    caret-color: rgb(86, 92, 105);
    -webkit-text-fill-color: rgb(86, 92, 105);
    transition: background-color 9999s ease-in-out 0s;
}