.section-box-container {
    width: 80%;
    margin: 30px auto 15px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.04);
    -webkit-box-shadow: 7px 7px 10px -7px rgba(173,173,173,0.3);
    -moz-box-shadow: 7px 7px 10px -7px rgba(173,173,173,0.3);
    box-shadow: 7px 7px 10px -7px rgba(173,173,173,0.3);
}